.container{
    width: 40%;
    color: white;
    background: #255e98;
    border-radius: 5px;
    padding: 30px;
}

.title{
    text-align: center;
    margin-bottom: 20px;
}

.password-wrapper{
    width: 100%;
    height: 50px;
}

.password-area{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 100%;
}

.password-area .password{
    width: 100%;
    height: 100%;
    border-radius: 5px;
    position: relative;
}

.password-area .password input{
    width: 100%;
    height: 100%;
    font-size: 20px;
    background: #caf0f8;
    color: black;
    line-height: 50px;
    border-radius: 5px;
    border: none;
    outline: none;
    padding: 0 60px 0 20px;
}

.password-area .password .copyIcon{
    position: absolute;
    right: 0;
    top: 50%;
    width: 50px;
    height: 100%;
    padding: 12px;
    transform: translate(0, -50%);
    background: #f9ab55;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
}

.setting{
    margin: 20px 0;
}

.customize{
    margin: 10px 0;
    display: flex;
    justify-content: flex-start;
}

.customize .checkboxes{
    display: flex;
}

.left, .right{
    width: fit-content;
}

.customize .right{
    margin-left: 30px;
}

.customize .checkboxes .checkbox-field{
    margin-top: 10px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.customize .checkboxes .checkbox-field input{
    width: 20px;
    height: 20px;
    margin-right: 10px;
}

.customize .checkboxes .checkbox-field input:checked{
    accent-color: #f9ab55;
}

.customize .checkboxes .checkbox-field label{
    line-height: 20px;
}

.slider{
    margin: 20px 0;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    height: 50px;
}

.slider .rangeValue{
    width: 80px;
    height: 100%;
    font-size: 22px;
    border-radius: 5px;
    background-color: white;
    color: black;
    line-height: 50px;
    text-align: center;
}

.slider .range{
    width: calc(100% - 80px);
    height: 100%;
    margin-left: 20px;
    border-radius: 5px;
    border: none;
    background: #fff;
    outline: none;
    padding: 0 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.slider .range input{
    width: 100%;
}

.buttons{
    display: flex;
    justify-content: center;
    align-items: center;
}

.buttons button{
    margin-left: 15px;
    padding: 0 25px;
    height: 50px;
    border-radius: 50px;
    font-size: 18px;
    background-color: #f9ab55;
    color: black;
    border: none;
    outline: none;
    cursor: pointer;
}

/* Responsive Design */
@media only screen and (max-width:600px){

    .title{
        font-size: 20px;
    }

    .buttons{
        display: block;
    }

    .buttons button{
        width: 100%;
        margin-left: 0;
    }

    .buttons button:last-child{
        margin-top: 20px;
    }

}

@media only screen and (max-width:768px){
    .container{
        width: 100%;
        margin: 0 30px;
        padding: 20px;
    }

    .title{
        font-size: 22px;
    }

    h3{
        font-size: 18px;
    }

    .customize .checkboxes{
        display: block;
    }

    .customize .checkboxes .right{
        margin-left: 0;
    }

    .password-area .password input{
        font-size: 17px;
    }
    
}

@media (min-width: 769px) and (max-width:1024px){
    .container{
        width: 70%;
        margin: 0 30px;
    }

}

@media (min-width: 1025px) and (max-width:1300px){
    .container{
        width: 60%;
        margin: 0 30px;
    }
}